body{
    margin: 0px;
    padding: 0px;
}

#titulo{ 
    width: 100%;
    height: 150px;
    background-color: rgb(1, 1, 1);
}

#banner-menu{
    display: flex;
    width: 100%;
    min-height: 100px;
    background-color: rgb(57, 54, 54);
}

#banner-menu div{
    flex: 1;
    background-color: rgb(90, 92, 95);
    margin: 8px;
}

#banner-conteudo{
    display: flex;
    width: 100%;
    min-height: 500px;
    background-color: rgb(138, 138, 138)
}

#banner-conteudo div{
    flex: 1;
    background-color: rgb(222, 217, 210);
    margin-inline: 5px;
}

#banner-rodape{
    display: flex;
    background-color: rgb(55, 51, 51);
    width: 100%;
    min-height: 300px;
}

#banner-rodape div{
    flex: 1;
    background-color: rgb(89, 89, 89);
    margin: 3px;
}

#conteudo-esquerdo{
    min-width: 40%;
}

#conteudo-central{
    min-width: 40%;
}